@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Amarante');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#wrapper {
	background: transparent;
	text-align: right;
	display: block;
	width: 922px;
	margin-left: 80px;
	padding: 10px 17px;
	font-size: 15px;
    border-bottom: 2px solid #3c4790;
}

#wrapper > input{
	background: transparent;
	cursor: pointer;
	padding: 2px 2px;
	border: 1px solid #B8B8B8;
		
}
#header {
	text-align: center;
	width: 935px;
	color: #6F6F6F;
	padding: 10px;
	height: 100px;
	margin: 10px 0px 5px 0px;
	margin-left: 80px;
	background: #c9dff0;
	font-size: 40px;
}

#header h2 {
	text-align: center;
	margin-top: 30px;
}

#navigation{
	
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.container * {
  background: transparent;
  color: #6A84B7;
  border: 1px solid #A0BAED;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 10px 49px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 10px;
  margin-left: 125px;
  margin-bottom: 20px;
/* animate and time the transitions*/
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#navigation a{
	
	font-size: 1.5em;
	text-decoration: none;
	text-align: center;
	color: #757E7F;
}

#navigation a:hover{
	
	color: #98CAD2;
}

.con_box {
    min-height: 398px;
    border: 1px #A6A6A6 solid;
    border-radius: 5px;
    width: 953px;
    height: 450px;
    margin: 10px 0px 5px 0px;
	margin-left: 200px;
	width: 700px;
}

#iframe {
        border: 3px dotted;
        width: 1200px;
        height: 1500px;
    }

#content {
	width: 900px;
	color: #333;
	border: 1px solid #ccc;
	background: #F1FBFB;
	margin: 0px 0px 5px 0px;
	padding: 10px;
	height: 350px;
}

#content h1{
	
	text-align: center;
	color: #757E7F;
	margin: 0;
}

.page{
	
	text-align: center;
}

#content form{
	text-align: center;
}

#b1{
	
	margin-left: 410px;
}



#footer {
	width: 932px;
	color: #333;
	border: 1px solid #ccc;
	background-color: #F3F2ED;
	margin: 0px 0px 10px 81px;
	padding: 10px;
}

body { 
  background-color : #F3F8F9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}